body{
	background:#999;
	font-family: arial;
}
h1,h2{
	color: yellow;
}
a{
	color: pink;
}

p{
	background: #666;
	padding: 5px;
}

.blog{
	background: #169;
	padding: 10px;
}
.top{
	color: yellow;
	padding: 100px;
}